Test-Command: set -e ; for py in $(py3versions -r 2>/dev/null) ; do cd "$AUTOPKGTEST_TMP" ; echo "Testing with $py:" ; $py -c "import yang; print(yang)" ; done
Depends: python3-all,
         python3-yang

Tests: yanglint
Depends: gzip,
         libyang-tools
