#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	mkdir my_build
	cd my_build && cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE:String="Package" -DGEN_LANGUAGE_BINDINGS=ON ..

override_dh_auto_install:
	install -d debian/libyang
	install -d debian/libyang-cpp
	install -d debian/python3-yang
	cd my_build && make -j1 install DESTDIR=/usr/src/packages/BUILD/debian/tmp AM_UPDATE_INFO_DIR=no

override_dh_auto_build:
	cd my_build && make

override_dh_auto_test:
	cd my_build && ctest --output-on-failure
