graft cffi
graft clib
prune clib/.git
prune clib/doc
prune clib/python
prune clib/swig
prune clib/tests
prune clib/tools/lint/examples
graft libyang
prune libyang/_lib
prune libyang/_include
include build-so.sh
include setup.py
include setup.cfg
include LICENSE
include README.md
global-exclude *.py[co]
global-exclude *.so
global-exclude *.o
global-exclude *.a
