include LICENSE
include README.md
include build-so.sh
include cffi/build.py
include cffi/cdefs.h
include cffi/source.c
include clib/*.cmake
include clib/*.in
include clib/*.md
include clib/CMakeLists.txt
include clib/CMakeModules/*.cmake
include clib/LICENSE
include clib/compat/*
include clib/linenoise/*.c
include clib/linenoise/*.h
include clib/linenoise/LICENSE
include clib/models/*
include clib/packages/*
include clib/src/*.c
include clib/src/*.h
include clib/src/*.in
include clib/src/extensions/*.c
include clib/src/extensions/CMakeLists.txt
include clib/src/user_types/*.c
include clib/src/user_types/CMakeLists.txt
include clib/tools/lint/*.1
include clib/tools/lint/*.c
include clib/tools/lint/*.h
include clib/tools/re/*.1
include clib/tools/re/*.c
include clib/tools/yang2yin/*.c
include libyang/*.py
include setup.cfg
include setup.py
